<!-- 
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->

<header class="site-header">
	<nav class="site-nav">
		<a class="site-logo" href="/"></a>
		<div class="search-bar">
			<span class="icon-magnifying-glass"></span><input type="search" class="search-input" />
		</div>
	</nav>
</header>