<!-- 
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->

<header>
	<nav class="site-nav">
		<a class="site-logo" href="/"></a>
		<span class="icon-magnifying-glass"></span><input type="search" class="search-bar" />
	</nav>
</header>