<header class="site-header">
	<nav class="site-nav">
		<a class="site-logo" href="/"></a>
		<div class="search-bar">
			<span class="icon-magnifying-glass"></span><input type="search" class="search-input" />
		</div>
	</nav>
</header>

<section class="search-group core-services">
	<div class="search-group-title-bar">
		<h6>Core Services (5)</h6>
	</div>
	<table>
		<tbody>
			<tr>
				<td>Commuted Value Web Service</td>
				<td><b>2</b> Deployment Plans</td>
				<td><b>3</b> Instances</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</td>
			</tr>
			<tr>
				<td>Buyback Web Service</td>
				<td><b>3</b> Deployment Plans</td>
				<td><b>5</b> Instances</td>
				<td>Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</td>
			</tr>
			<tr>
				<td>Lorem Ipsum Web Service</td>
				<td><b>1</b> Deployment Plans</td>
				<td><b>3</b> Instances</td>
				<td>Culpa qui officia deserunt mollit anim id est laborum.</td>
			</tr>
			<tr>
				<td>Culpa Qui Officia Web Service</td>
				<td><b>2</b> Deployment Plans</td>
				<td><b>5</b> Instances</td>
				<td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo...</td>
			</tr>
			<tr>
				<td>Numquam Modi Web Service</td>
				<td><b>5</b> Deployment Plans</td>
				<td><b>8</b> Instances</td>
				<td>Ipsum aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore lorem ipsum.</td>
			</tr>
		</tbody>
	</table>
</section>

<section class="search-group utility-services">
	<div class="search-group-title-bar">
		<h6>Utility Services (3)</h6>
	</div>
	<table>
		<tbody>
			<tr>
				<td>Lorem Ipsum Web Service</td>
				<td><b>1</b> Deployment Plans</td>
				<td><b>3</b> Instances</td>
				<td>Culpa qui officia deserunt mollit anim id est laborum.</td>
			</tr>
			<tr>
				<td>Culpa Qui Officia Web Service</td>
				<td><b>3</b> Deployment Plans</td>
				<td><b>5</b> Instances</td>
				<td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo...</td>
			</tr>
			<tr>
				<td>Numquam Modi Web Service</td>
				<td><b>1</b> Deployment Plans</td>
				<td><b>3</b> Instances</td>
				<td>Ipsum aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore lorem ipsum.</td>
			</tr>
		</tbody>
	</table>
</section>

<section class="search-group lorem-services">
	<div class="search-group-title-bar">
		<h6>Lorem Services (3)</h6>
	</div>
	<table>
		<tbody>
			<tr>
				<td>Lorem Ipsum Web Service</td>
				<td><b>1</b> Deployment Plans</td>
				<td><b>3</b> Instances</td>
				<td>Culpa qui officia deserunt mollit anim id est laborum.</td>
			</tr>
			<tr>
				<td>Culpa Qui Officia Web Service</td>
				<td><b>3</b> Deployment Plans</td>
				<td><b>5</b> Instances</td>
				<td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo...</td>
			</tr>
			<tr>
				<td>Numquam Modi Web Service</td>
				<td><b>1</b> Deployment Plans</td>
				<td><b>3</b> Instances</td>
				<td>Ipsum aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore lorem ipsum.</td>
			</tr>
		</tbody>
	</table>
</section>
