<section class="service-section">
  <h2 class="service-section-title">Deployment Plans</h2>
  <div>
    <div class="deployment-plan">
      <h5>wasdev1-snapshot</h5>
      <a class="bamboo-link" href="#"><span class="icon-bamboo-logo"></span>Bamboo</a>
      <button class="btn btn-success">Deploy</button>
    </div>
    <div class="deployment-plan">
      <h5>wasdev1-released</h5>
      <a class="bamboo-link" href="#"><span class="icon-bamboo-logo"></span>Bamboo</a>
      <button class="btn btn-success">Deploy</button>
    </div>
  </div >
</section>