<header class="site-header">
  <nav class="site-nav">
    <a class="site-logo" href="/"></a>
    <div class="search-bar">
      <span class="icon-magnifying-glass"></span><input type="search" class="search-input" />
    </div>
  </nav>
</header>

<main class="container" ui-view="service" ng-controller="ServiceCtrl as serviceCtrl">
  
  <!-- custom directive for service header info -->
  <service-header service="serviceCtrl"></service-header>
  
  <!-- custom directive for deploymet info of a service -->
  <deployment></deployment>

  <!-- custom directive for instance info of a service -->
  <instance service="serviceCtrl"></instance>

</main>
