//
// Icons
// --------------------------------------------------


.icon-magnifying-glass {
	background-image: image-url("magnifying-glass.png");
	display: inline-block;
	height: image-height("magnifying-glass.png");
	margin-right: 10px;
	width: image-width("magnifying-glass.png");
}