//
// Layout
// --------------------------------------------------


.site-header {
	margin: 20px;
}

.service-header {
	padding-bottom: 50px;
	border-bottom: 1px solid $grey;
	// Vertically center Bootstrap grid columns
	& > div {
		display: inline-block;
		float: none;
		vertical-align: middle;
	}
}

.service-admin {
	display: inline-block;
	margin-right: 20px;
	img {
		display: block;
		margin: 0 auto 5px;
	}
	span {
		font-weight: 500;
	}
}

.service-section {
	margin-top: 50px;
	.service-section-title {
		margin-bottom: 35px;
	}
}


// Deployment Plans
// ------------------

.deployment-plan {
	background-color: $light-grey;
	display: inline-block;
	margin-right: 30px;
	padding: 10px;
	width: 290px;
	h5 {
		font-size: 20px;
		font-weight: 200;
		margin-bottom: 15px;
	}
	.icon-bamboo-logo {
		margin-right: 5px;
		vertical-align: -15%;
	}
	.bamboo-link {
		display: block;
		margin-bottom: 15px;
	}
	.btn {
		width: 100%;
	}
}