//
// Layout
// --------------------------------------------------


.site-header {
	margin: 20px;
}

.service-header {
	padding-bottom: 40px;
	border-bottom: 1px solid $grey;
	// Vertically center Bootstrap grid columns
	& > div {
		display: inline-block;
		float: none;
		vertical-align: middle;
	}
}

.service-admin {
	display: inline-block;
	margin-right: 20px;
	img {
		display: block;
		margin: 0 auto 5px;
	}
	span {
		font-weight: 500;
	}
}