//
// Type
// --------------------------------------------------

.service-title {
	margin-top: 5px;
}

.service-group {
	color: gray;
	font-weight: 200;
	letter-spacing: 1px;
}

.service-section-title {
	color: $light-blue;
	font-weight: 200;
}
