//
// Variables
// --------------------------------------------------


// Colours
// ------------------

// Greys
$light-grey: #e7e8e8;
$grey: #c3c3c3;
$dark-grey: #767676;

// Blues
$light-blue: #0090b8;
$blue: #00a5d3;